.menu a {
	text-decoration: none;

}
.menu li {
	display: inline;

}
.menu  {
	background-color: blue;
	padding: 5px 15px 5px 100px;

}
.menu li a {
	color: white;
	font-weight: normal;
	font-family: Calibri;
	font-size: 20px;

}
.menu li a:hover {
	color: black;
	background-color: white;
}